.bandSection {
    text-align: center;
    padding: 2rem;
}

h2.onLightBg {
    color: #353535;
  }
  
.bandContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.polaroid {
    width: 260px;
    padding: 10px;
    border: 2px solid #9f9f9f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
    filter: sepia(30%);
    transition: all 0.3s ease;
}

.polaroid:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.polaroid img {
    width: 100%;
    height: auto;
}

.polaroid h3 {
    margin: 0.5 0;
    color: #1e1e1e;
}

.polaroid p {
    font-size: 16px;
    line-height: 1.4;
    color: #414141;
}