.musicPlayer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin: 5rem 0;
    font-family: 'Courier New', Courier, monospace;
}

.loadingState {
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
}

.vinylAndArt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    border-radius: 12px;
    padding: 10px
}

.progressContainer {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 250px;
    background-color: #5e5e5e;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    height: 10px;
}

.progressBar {
    height: 6px;
    background-color: #e7e7e7;
    text-align: center;
    border-radius: 12px;
}

.controlWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.playerButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

.playButton,
.nextButton,
.prevButton {
    background-color: transparent;
    color: #151515;
    padding: 10px 20px;
    border: 1px solid #5e5e5e;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease;
    border-radius: 8px;
    margin: 0 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.playButton:hover,
.nextButton:hover,
.prevButton:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
    background-color: #cdcdcd;
}

.playButton {
    font-size: 32px;
}

.volumeControl {
    width: 100%;
    margin-top: 20px;
}

.volumeControl input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    padding: 4px;
    cursor: pointer;
    background: #5e5e5e;
    outline: none;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.volumeControl input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: 50%;
}

.vinylContainer, .albumArt {
    margin: 10px;
}

.vinylContainer {
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.albumArt {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.6);
}

.label {
    width: 90px;
    height: 90px;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-image: url(/images/vinylA-B-label.png);
    background-size: contain;
    background-repeat: no-repeat;
    animation: spin 2s linear infinite;
    animation-play-state: paused;
}

.grooves {
    background-image: url('/images/new_vinyl-transparent.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    width: 270px;
    height: 270px;
    transform: rotate(360);
    animation: spin 2s linear infinite;
    animation-play-state: paused;
}

.vinylAndArt .vinylContainer,
.vinylAndArt .albumArt {
    transition: transform 0.3s ease;
}

.vinylAndArt:hover .vinylContainer,
.vinylAndArt:hover .albumArt {
    transform: scale(1.05);
}

.trackInfo {
    font-size: 16px;
    font-weight: bold;
    color: #2b2b2b;
}

/* CTA Buttons */
.ctaButtonContainer {
    text-align: center;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.ctaButtonBuy, .ctaButtonSpotify {
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    color: #151515;
    padding: 10px 20px;
    border: 1px solid #151515;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s ease;
    text-transform: uppercase;
}

.ctaButtonSpotify {
    background-color: #1dB954;
    color: white;
}

.ctaButtonBuy:hover, .ctaButtonSpotify:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

/* Spinning animation for the grooves */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Media queries for responsiveness */
@media (min-width: 481px) {
    .grooves {
        width: 250px;
        height: 250px;
    }

    .label {
        width: 80px;
        height: 80px;
    }

    .albumArt {
        height: 200px;
        width: 200px;
    }
}

@media (min-width: 600px) {
    .albumArt {
        width: 250px;
        height: 250px;
    }

    .grooves {
        width: 300px;
        height: 300px;
    }

    .label {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 767px) {
    .vinylAndArt {
        flex-direction: row;
    }
}

@media (min-width: 961px) {

    .label {
        width: 150px;
        height: 150px;
    }

    .albumArt {
        width: 400px;
        height: 400px;
    }

    .grooves {
        width: 450px;
        height: 450px;
    }

    .controls {
        max-width: 1200px;
    }
    .trackInfo {
        font-size: 22px;
    }
}

