#gigsSection {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 10px;
}

.gigsTitle {
    text-align: center;
    color: #1f1f1f;
}

.gigCard {
    background-image: url('/images/white-vintage-bg-comp.png');
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    border: 2px solid #23201e;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: all 0.3s ease;
}

.gigCard:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}

.gigInfo {
    flex-grow: 1;
    padding: 20px;
    text-align: center;
}

.gigDate, .gigVenue {
    font-size: 16px;
    color: #1f1f1f;
    margin: 10px 0;
}

.ticketLink {
    display: inline-block;
    background-color: #1c1c1c;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.ticketLink:hover {
    background-color: #646464;
}

.gigsContainer {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

@media (min-width: 769px) {
    .gigCard {
        padding: 30px
    }

    .gigDate, .gigVenue {
        font-size: 18px;
    }

    .gigsContainer {
        flex-wrap: nowrap;
        display: flex;
        justify-content: center;
        gap: 40px;
    }

}
